<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EpiMobile</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
   
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">EpiMobile</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div class="container" style="padding-top:1%;">
      <h3>Local files and results </h3>
      <table class="table table-bordered">
        <tr><th>Sequence ID</th><th>Highest Hits</th><th>Result</th></tr>
        {% for item in local_files_table %}
        <tr> 
          <td>{{ item.id }} </td> 
          <td>
            {% if item.wasAnalyzed %}
            {% for hit in item.highest_hits %} 
            <button type="button" class="btn btn-danger">{{ hit }}</button>
            {% endfor %}
            {% else %}
            <button type="button" class="btn btn-primary">{{ item.highest_hits }}</button>
            {% endif %}
          </td> 
          {% if item.wasAnalyzed %}
            <td>Item already analyzed</td>            
          {% else %}
          <td> <form method="post" action="{{ url_for('analyze') }}"> 
              <input type="hidden" name="seqID" id="seqID" value={{ item.id }}>  
              <button type="submit"  class="btn btn-primary btn-sm" type="button">Analyze</button>
            </form> </td>
          {% endif %}
        </tr>
        {% endfor %}
      </table> 


      <br><br>
      <!--
      <h3>All results </h3>
      <table class="table table-bordered">
      <tr><th>Sequence ID</th><th>Disease</th><th>Result</th></tr>
        {% for item in results_list_table %}
        <tr> 
          <td>{{ item.id }} </td> 
          <td>{{ item.disease }} </td> 
          {% if item.isPositive %}
            <td><button class="btn-primary btn-sm btn-danger" type="button" disabled="disabled">Positive</button></td>
          {% else %}
            <td><button class="btn-primary btn-sm btn-success" type="button" disabled="disabled">Negative</button></td>
          {% endif %}

        </tr>
        {% endfor %}
      </table> -->


    </div>
  </body>
</html>