<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EpiMobile</title>
     
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"> 
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signin.css" rel="stylesheet">
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <h3 class="text-muted">EpiMobile</h3>
      </div>
 
      <div class="jumbotron">
        <h3>Sign in to EpiMobile</h3>
        <form class="form-signin" method="post" action="{{ url_for('validateSignIn') }}">
        <input type="text" name="userName" id="userName" class="form-control" placeholder="User name" required autofocus>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
        <button type="submit"  class="btn btn-primary btn-block" type="button">Sign in</button>
      </form>
      </div>
 
 
    </div>
  </body>
</html>
